h1 {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
}

.form-group {
    flex: 1;
    min-width: 250px; /* Ensures a minimum width for form groups */
}


body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #000;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .logo {
    display: flex;
    align-items: center;
}
.header .logo img {
    height: 40px;
    margin-right: 10px;
}
.header .logo a {
    color: blue;
    font-size: 16px;
    font-weight: bold;
}
.header .logo a:hover {
    text-decoration: none;
}
.header .menu {
    display: flex;
    gap: 20px;
}
.header .menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.header .menu a.active {
    background-color: #555;
    padding: 5px 10px;
    border-radius: 5px;
}
.header .menu a:hover {
    color: red;
  }
.filters {
    background-color: #fff;
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ddd;
}
.filters button, .filters select, .filters input {
    padding: 10px;
    font-size: 16px;
}
.filters button.active {
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
}
.filters button, .filters select {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.filters select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 30px;
    background: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjNDA0MDQwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTUiIHZpZXdCb3g9IjAgMCAxNSAxMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTMuNzA3IDEuNDA3YS44NS44NSAwIDAgMC0xLjIwMSAwTDUuMDggOC44NzFsLTMuNzg2LTMuNzlhLjg0Ljg0IDAgMSAwLTEuMTk4IDEuMTk2bDQuMDAxIDQuMDAyYS44NS44NSAwIDAgMCAxLjE5NiAwTDExLjU3IDEuNDA3YS44NTEuODUxIDAgMCAwIDAtMS4yMDF6Ii8+PC9zdmc+') no-repeat right center / 15px 10px;
}
.filters .info {
    font-size: 14px;
    color: #555;
}