<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FC Bias</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- The header contains LCS2 logo and webapp's name FC Bias, and two buttons one is to redirect to paper's official github and another leads to this project's github. -->
    <div class="header">
        <div class="logo">
            <img src="https://lh5.googleusercontent.com/7bDh9iE7HoUUgg34B9Bosj4WvAsPzLp-AllY1tvORg3iQlazRCluYRN1UKpH9AUifXy9DQ0O8PvmTWtvY_7yLFk=w16383" alt="Logo">
            <a href="/">FC Bias</a>
        </div>
        <div class="menu">
            <a href="https://github.com/sahajps/FC-Bias" target="_blank">Paper's Github</a>
            <a href="https://github.com/sahajps/FC-PolarityScore" target="_blank">About</a>
        </div>
    </div>

    <div class="container">
        <!-- This input-form takes inputs for different conditions -->
        <form id="input-form" class="mt-4">
            <div class="form-row d-flex flex-wrap">
                <!-- This div takes start date as input with condition the date should be in range of 2018-2023 -->
                <div class="form-group col-md-4">
                    <label for="start-date-input">From:</label>
                    <input type="date" class="form-control" id="start-date-input" name="start-date-input" value="2018-01-01" required min="2018-01-01" max="2023-12-31">
                </div>

                <!-- This div takes start date as input with condition the date should be in range of 2018-2023 -->
                <div class="form-group col-md-4">
                    <label for="end-date-input">To:</label>
                    <input type="date" class="form-control" id="end-date-input" name="end-date-input" value="2023-12-31" required required min="2018-01-01" max="2023-12-31">
                </div>

                <!-- This div takes # of entities to be plotted for each organizationn -->
                <div class="form-group col-md-4">
                    <label for="integer-input">No. of top entities:</label>
                    <select class="form-control" id="integer-input" name="integer-input" required>
                        {% for i in range(5, 16) %}
                        <option value="{{ i }}" {% if i == 5 %}selected{% endif %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- This button provides two options to choose "Alpahbatic" or "Frequency" to decide the order of political enties -->
                <div class="form-group col-md-4">
                    <label for="order-input">Entities' order:</label>
                    <select class="form-control" id="order-input" name="order-input" required>
                        {% for i in ["Alphabatic", "Frequency"] %}
                        <option value="{{ i }}" {% if i == "Alphabatic" %}selected{% endif %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>

        <!-- To print dynamic error message if any (One could be st_date>en_date) -->
        <div id="error-message" class="error-message"></div>

        <!-- This is a dic container to paste the image got from plotter function -->
        <div class="mt-4">
            <img id="plot" src="" class="img-fluid">
        </div>
    </div>
</body>
</html>
